
body {
    font-family: 'Noto Serif', serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: #dcdcdc;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    line-height: 1.8;
    color: #dcdcdc;
    padding: 50px 20px;
    text-align: center;
  }
  
  .ashina {
    font-weight: 800;
    font-size: 24px;
    color: #8b0000;
    text-align: center;
    text-transform: uppercase;
  }
  
  .ashina:hover{
    color: #fb0d0d;
  }
  .header {
    display: flex;
    justify-content: space-around;
    background-image: url(https://images.alphacoders.com/100/thumb-1920-1006255.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 0;
  }
  
  .hesitate {
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
  }
  
  .isshin {
    font-style: normal;
    font-weight: 500;
    color: #dcdcdc;
  }
  
  .gud {
    color: whitesmoke;
    font-family: 'Noto Serif';
    font-size: 130px;
    text-shadow: 2px 2px 5px #000000;
    letter-spacing: 5px;
    margin-top: 50px;
    font-weight: 900;
  }
  
  .gud:hover{
    color: #8b0000;
  }

  .slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
  }


.slider img{
    width: 1600px;
    height: 700px;
    display: none;
    opacity: 0;
}

.slider img:hover{
  width: 1610px;
  height: 710px;
  transition: ease-in-out .5s;
}
img.displaySlide{
    display: block;
    opacity: 1;
    animation-name: fade;
    animation-duration: .5s;
}

.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: hsla(0, 0%, 0, .5);
  color: black;
  border: none;
  cursor: pointer;
}

.slider button:hover{
  background-color: #000000;
  color: white;
  transition: ease-in-out .4s;
}

.prev{
  left: 0;
}

.next{
  right: 0;
}

.dot{
  margin: 10px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
@keyframes fade{
  from {opacity: .5}
  to {opacity: 1;}
}